anyio
asgiref
canvas
certifi
colorama
crispy-bootstrap5
distlib
distro
dj-database-url
Django
django-crispy-forms
django-email
django-environ
EasyProcess
entrypoint2
et-xmlfile
exceptiongroup
filelock
h11
httpcore
httpx
idna
Library
MouseInfo
mss
mysqlclient
numpy
openai
opencv-python
openpyxl
Pillow
Pillow-PIL
platformdirs
psycopg2
psycopg2-binary
PyAutoGUI
pydantic
PyGetWindow
PyMsgBox
pyperclip
PyRect
pyscreenshot
PyScreeze
python-decouple
pytube
pytweening
PyYAML
scipy
sketchpy
sniffio
sqlparse
svg.path
svgpathtools
svgwrite
tqdm
turtle
typing_extensions
tzdata
virtualenv