asgiref
canvas
colorama
crispy-bootstrap5
distlib
Django
django-crispy-forms
django-email
django-environ
EasyProcess
entrypoint2
et-xmlfile
filelock
Library
MouseInfo
mss
mysqlclient
numpy
opencv-python
openpyxl
Pillow
Pillow-PIL
platformdirs
PyAutoGUI
PyGetWindow
PyMsgBox
pyperclip
PyRect
pyscreenshot
PyScreeze
python-decouple
pytube
pytweening
PyYAML
scipy
sketchpy
sqlparse
svg.path
svgpathtools
svgwrite
tqdm
turtle
typing_extensions
tzdata
virtualenv